@import './loloog64-chess-history-mixins.scss';

@mixin header-cell {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: $font-size;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.history_root {
    overflow-y: scroll;
    height: 20%;
}

.header {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;
}

.header-num {
    @include header-cell();
    width: $num-width;
}

.header-side {
    @include header-cell();
    width: $move-width;
}