<div class="history_root">
  <div class="header">
    <div class="header-num">#</div>
    <div class="header-side">Whites</div>
    <div class="header-side">Blacks</div>
  </div>

  <div *ngFor="let lineIndex of linesIndexes">
    <loloof64-chess-history-cell
      [value]="cellsContent[lineIndex * 3]"
      classes="history-cell num"
    ></loloof64-chess-history-cell>

    <loloof64-chess-history-cell
      [value]="cellsContent[lineIndex * 3 + 1]"
      classes="history-cell move"
    ></loloof64-chess-history-cell>

    <loloof64-chess-history-cell
      [value]="cellsContent[lineIndex * 3 + 2]"
      classes="history-cell move"
    ></loloof64-chess-history-cell>
  </div>
</div>
