@import '../loloog64-chess-history-mixins.scss';

@mixin cellContent() {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    font-size: $font-size;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.history-cell.num {
    @include cellContent();
    width: $num-width;
}

.history-cell.move {
    @include cellContent();
    width: $move-width
}

.history-cell.move.highlighted {
    background-color: rgb(41, 97, 216);
}