<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <ion-spinner 
        color="primary"
        *ngIf="boardBusy"
      ></ion-spinner>
      <loloof64-chessboard 
        [size]="boardSize"
        [reversed]="false"
        (gameStarted)="clearHistorySelection()"
        (gotReady)="setBoardReadyStatus()"
        (gotBusy)="setBoardBusyStatus()"
        (positionLoaded)="updateSelectedHistoryPly($event)"
        (newMoveFanAvailable)="addContentToHistory($event)"
        (newMoveNumberAvailable)="addContentToHistory($event)"
        #board
      ></loloof64-chessboard>
    </div>
    <loloof64-chess-history
      columnsCount="30"
      (positionRequestedEvent)="requestPositionOnBoard($event)"
      #history
    >
    </loloof64-chess-history>
</ion-content>
